
.App {
  margin: 30px 30px;
  font-family: 'Roboto', sans-serif;
}
/**********************title*************************/
.title{
  color: #000000;
  font-size: 50px;
  font-weight: 700;
  animation-name: fadeIn;
  animation-duration: 5s;
}

.title span{
  color: #dcdcdc;
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
/************************table***************************/
table{
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
table thead{
  background-color: #d3d3d3;
  text-align: left;
  font-weight: bold;
  
}
.Addpadding{
  padding: 20px 20px !important;
}

table td{
  padding: 20px 20px;
}
table tbody tr:nth-child(odd){background-color:#e8e8e8}
table tbody tr:hover{
  background-color: #d3d3d3;
}

/**********************pagination*************************/
.paginationStyle{
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
.btn{
  background: none;
  border: hidden;
  font-size: 30px;
  cursor: pointer;
}
.btn.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
}
/**********************Filter*************************/
.container{
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  width: 100%;
}
.filterBySearch{
  display: flex;
  flex-direction: column;
  width: 33.3%;
}
.filterBySearch label{
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 14px;
}
.filterBySearch input{
  border: none;
  border-bottom: 1px solid #000000;
  margin-bottom: 20px;
  padding: 8px 0;
  display: block;
}
.filterByCheck{
  width: 61.6%;
  display: flex;
  flex-direction: column;
}
.filterByCheck .adjust{
  display: flex;
  justify-content: space-between;
}
.filterByCheck input{
  cursor: pointer;
  border-radius: 4px;
}
.filterByCheck input:checked {
  border: 1px solid #000 !important;
  background-color: #000000 !important;
}

.filterByCheck span{
  display: block;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 20px;
}
.filterByCheck .checkPosition{
  display: inline;
}
.filterByCheck label{
}

.checkbox:not(:checked),.checkbox:checked{
  width: 15px;
  height: 15px;
  border: 1px solid #000;
  border-radius: 5px;
}
/***********************responsive************************/

@media screen and (max-width: 700px) {
  .filterByCheck .adjust{
    display: flex;
    flex-direction: column;
  }
  table {
    border: 0;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}